html {
    border-top: 5px solid red;
}

h1, h2, h3, 
.h1, .h2, .h3 {
  font-family: "Rajdhani";
}

a:hover {text-decoration: none;}

.subtitle {
font-size: 2em;
    margin-bottom: 30px;
    line-height: 1.4em;
}

.card, .btn-lg {
    border-radius: 0
}

.header-intro {
	padXding: 20px 0 40px 0 ;

}

.header-intro h1 {
padding-top: 0px;	
font-weight: 100;
}

        .skew2 {
  transform: skew(0deg, 6deg);
  }
  .skew2 .content-tilt {
    transform: skew(0deg, -6deg);
  }
  
  
        .skew {
  transform: skew(0deg, -6deg);
  }
  .skew .content  {
    transform: skew(0deg, 6deg);
  }
  
  .modal.fullscreen {
    padding-right: 0px !important;
}

.block-1 {
  background-color: #d3e7ee;
  background-size: cover;
}
.block-2 {
  background-color: #ffcc00;
  backgrouXnd-size: cover;
  background-image: url(../img/bg-pattern-circ10.png);
}

.page-header[filter-color="orange"] {
    background: rgba(249, 99, 50, 0.92);
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
}
.build-join {
	    background: transparent;
    tXop: -160px;
	    padding-bottom: 0;
}

.input-group-addon {
	    padding: 7px 0 8px 19px!important;
}

.navbar {
	margin-bottom: 0px;
}
.page-header, .navbar, .navbar-dark .navbar-brand, .navbar a:not(.btn):not(.dropdown-item) {
	margin-bottom: 0px;
  color: #333!important;
}

.index-page .page-header {
    height: auto;
        min-height: 70vh;
     background-color: #f3f2ee;
     background-image: url(../img/homepage_header4.jpg);
}

.section-signup {
	padding-top: 0;
}

.flora-container {
    margin: 0 auto;
    background: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.card-signup .footer {
    margin-top: 0;
}

.arrows-1_share-66 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.floraforms .flo-input, .floraforms .flo-select, .floraforms .flo-textarea, .floraforms .flo-select > select, .floraforms .flo-selectmulti select {
    background: inherit;
}

.bg-primary {
    background-color: #338db9 !important;
}

.btn-neutral:hover, .btn-neutral:focus {
    color: #fa7a50;
}

.card[data-background-color="orange"] {
    background-color: #338db9;
}


.accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
 
    content: "\f067"; 
}

.accordion .card .card-body {
  
    border-bottom: 1px solid rgba(0,0,0,0.125);
    background-color: #fff;
}
.card-header[aria-expanded=true] {
colXor: #fff;
backgroundX-color: #3fc7cd;
 background-color: #fff!important;
}

.card-header[aria-expanded=true]:hover .card-title {
color: #333!important;
}
.card-header[aria-expanded=true]:hover {

background-color: #3fc7cd;
}
.card-header:hover {
    cursor: pointer;
    background-color: #efefef;
}

.slide-to:hover {
   cursor: pointer;
   color: #777!important;
}

.section-about .description {
    color: #000;
    font-weight: 500;
}
.consolas {
  font-family: 'Consolas';
  font-size: 140%;
}

.accordion .card {
      box-shadow: none;
      background-color: transparent;
}
.accordion .card-header.collapsed:after {
    color: #aaa;
}

.card-header {
    border-bottom: none;
    font-size: 24px;
    background-color: transparent;
}

.notice {
    background-color: #4292bf !important;
    color: #fff;
    text-align: center;
    padding: 8px 0;
}
.notice a{
    color: #ffcc00;
}

#pbar_bgcolor{
 font-size: 1.5em;
background: rgb(109,179,242); 
}

#pbar_pause {
    font-size: 1.3em;
    padding: 10px;
}
#pbar_pause:hover {
  color: #777;
  cursor: pointer;
      box-shadow: none;
}

@keyframes blink-redirect {
  0% {opacity: .6}
  49% {opacity: .6}
  50% {opacity: .7}
}

.blink-redirect {
  animation: blink-redirect 1s infinite;
  background: none!important;
      background-color: green!important;
}

.wpm-language-switcher li {
    list-style-type: none!important;
    margin-right: 0;
    padding-right: 0;
}

.wpm-language-switcher {
    padding-left: 0!important;
}

.footer ul {
    margin-bottom: 0;
    padding-left: 18px;
}

.footer ul li {
    display: list-item;
    /* padding-left: 10px; */
    list-style: disc;
        font-size: 14px;
    color: #666;
}

.footer h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: Rajdhani;
font-size: 14px;
    line-height: initial;
    text-transform: uppercase;
}

.footer ul li a {
    color: inherit;
    padding: inherit;
    font-size: inherit;
    text-transform: inherit;
    text-decoration: inherit;
}

.powered-by {
    padding: 10px 20px;

    background-color: #444;
        margin-top: 10px;
         align-self: flex-start; 
}

.hide {display:none!important;}

.footer .copyright {
     margin: 6px 0px;
  padding: 10px 0;
    text-align: center; 
    float: none;
}
.footer {
    padding: 24px 0 0;
    background-image: url(../img/bg-pattern-zz.png);
}
.footer .c4c-logo{
        display: inline-block;
    padding: 10px 0 ;
    vertical-align: top;
    float: none;
}
.navbar.sticky {
  background-color:#14b0bf!important;
  padding: 0 10px;
  min-height: 32px;
  position: fixed;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  z-index: 1005;
}
.navbar.sticky img {
      height: 50px;
}
.navbar {
    min-height: 78px;
  background: none;
    background-color: transparent!important;
    box-shadow: none;
    display: block;
        position: static;
}
.page-header .container {
    z-index: auto;
    height: initial;
}

#nav-content {
justify-content: flex-end
}
.navbar .navbar-nav .nav-link:not(.btn) {
  font-size: 1em;
}
.nav-menu-icon {
    padding: 0;
    font-size: 2.5em;
    line-height: 38px;
    font-weight: 100;
    padding-left: 20px;
    coloXr: #777!important;
        color: #333!important;
}


.nav-menu-icon:hover {
    font-weight: 100;
    color: #ccc!important;
    cursor: pointer;
}

.sticky .nav-menu-icon {
    font-size: 2.3em;
}

.close {
    font-size: 5.5rem;
    font-weight: 100;
}

.header-intro {
    vertical-align: middle;
    padding-top: 160px;
    z-index: 0;
}

	.section-about {
		padding-top: 0;
		padding-bottom:0;
        margin-bottom: 10px;
	}
  .white {color:#fff!important;}
  .black {color:#000!important;}
  .btn-color{
    background-color: #338db9;
  }
.focus-text {
  font-size: 160%;
    font-weight: 300;
    font-family: Rajdhani, sans-serif;
}

.nav-menu-icon{

}

li#menu-item-2410 {
    float: right;
}



.build-join .img-wrap img {
    max-width: 150px;
}

.build-join .btn-lg {
    font-size: 1.2em;
           backgXround-color: #0dbcc3;
    padding: 15px 30px;
}


.modal-content button.close {
    position: absolute;
    right: 0px;
    top: 22px;
    outline: 0;
    z-index: 1000;
    line-height: 10px;
}

.modal  button.close:hover,
.modal  button.close:focus {
    opacity: 1;
}

.modal .carousel-indicators {
    position: initial;
}

.fullscreen .modal-dialog {
  width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
}
.fullscreen .modal-content {
    border-radius: unset;
    border: unset;
    box-shadow: unset;
    height: 100%;
    max-height: 100%;
    background-color:#fff;
    background-image: url(../img/bg-pattern-zz50.png);
}

.fullscreen .modal-content .menu {
    padding-top: 100px;
    width: 800px;
}

.modal-backdrop.show {
    opacity: .75;
}

.modal-backdrop {
    background: #000;
}

#partnerModal .img-wrap img {
    max-width: 150px;
}
.card h4 {
    margin-top: 0px;
    margin-bottom: 5px;
}

.modal .tab-pane p{
    margin-bottom: 0px;
}

.modal .card .card-body {
    min-height: initial;
}

div.divXLink {
    position: relative;
    width: 200px;
    height: 200px;
    background: #eee;
    color: #000;
    padding: 20px;    
}

div.divLink:hover {
    cursor: hand;
    cursor: pointer;
    opacity: .9;
        background-color: #17bcc30d;
}


a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.carousel-indicators li {
    background-color: #868e96;
}

.carousel-indicators .active {
    background-color: #1c9898;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
       background-size: 29px;
    height: 60px;
    width: 60px;
    background-color: #15bcc4;
    border-radius: 50%;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 0;
}

[data-toggle="collapse"] .fa:before {  
  content: "\f139";
}

[data-toggle="collapse"].collapsed .fa:before {
  content: "\f13a";
}

.carousel .carousel-inner {
    box-shadow: initial;
}

	.mw-90p {
    max-width: 90%!important;
  }
  
  .w-500px {
    width: 500px!important;
  }

/* Default
 * No @media query for XS is necessary
 */

  .build-join .choose {
    margin-bottom: 0px;
    color: #000;
  }
  
    .main-card {
    top: unset;
    position: unset;
  }
    .main-card  .card{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  
  #FAQs {padding: 0;}
  
.switch-mode {
  border: 1px solid #eee;
    padding: 6px;
    border-radius: 6px;
    margin-right: 30px;
}
  
 @media screen and (max-width: 34em) {
   
     .fullscreen .modal-content .menu {
    padding-top: 20px;
    width: auto;
  }
  .modal-dialog .card {
    margin-bottom: 2px;
  }
  .modal-dialog .card h4{
    margin-bottom: 0;
  }
  #nav-content {
    display: block;
        flex-basis: unset;
    flex-grow: unset;
  }
  
  .navbar-brand  {
    margin-right:0!important;
  }   
  .navbar-brand img {
    wiXdth: 100px;
  }  
  .index-page .page-header {
    background-position: 60%!important;
  }
  .header-intro {
    padding-top: 60px;
  }
.navbar.sticky img {
    height: 40px;
}
  }   
  
/* Small. Above 34em (544px) */
@media screen and (min-width: 34em) {
	
.section-signup {
	background-image: url('../img/homepage_footer.jpg'); background-size: cover; background-position: top center; min-height: 700px;
	paXdding-top: 20vh;
}
   .col-sm-6:nth-child(2){  padding-top: 40px; padding-bottom: 40px; }

	.floraforms .frm-row .colm.colm-m6 {
		width: 50%;
		float: left;
	}

	.colm-m6 {
	padding-right:10px!important;
	}
	
	.colm-m6:nth-of-type(odd){
		padding-left:10px!important;
		padding-right:0px!important;		
	}
	.modal-dialog {
    max-width: 90%;
  }
  

}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .main-card {
    top: -30px;
    position: relative;
  }
      .main-card  .card{
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .build-join .choose {
    margin-bottom: 40px;
    color: #fff;
  }
  #FAQs {padding: 0px 60px 30px 60px;}
}

/* Large. Above 62em (992px) */
@media screen and (min-width: 62em) {
	.header-intro {
		padding: 50px 0 0px 0 ;
	}

	.header-intro h1 {
	padding-top: 60px;	
	}
	.main {

		tXop: -30vh;
    background: none;
}
.navbar-nav .nav-item:not(:last-child) {
    margin-right: 15px;
}
	
#FAQs {padding: 0px 120px 30px 120px;}
  
  .footer .c4c-logo{
    padding: 0;
    flXoat: right;
}
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {


}



.bg-primary {
  background-color: #333!important;
}
.card[data-background-color="orange"] {
    background-color: #777!important;
}

.btn-neutral {
    color: #333!important;
}



@font-face {
  font-family: 'codejika';
  src:  url('../fonts/codejika.eot?jzj9');
  src:  url('../fonts/codejika.eot?jzj9#iefix') format('embedded-opentype'),
    url('../fonts/codejika.ttf?jzj9') format('truetype'),
    url('../fonts/codejika.woff?jzj9') format('woff'),
    url('../fonts/codejika.svg?jzj9#codejika') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'codejika' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
    line-height: 1.2;
    font-size: 1.5em;
vertical-align: -.25em;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs0 {
  : 16px;
}
.fs1 {
  font-size: 1em;
}
.fs2 {
  font-size: 2em;
}
.fs3 {
  font-size: 3em;
}
.fs4 {
  font-size: 4em;
}
.fs5 {
  font-size: 5em;
}
.icon-sentiment_satisfied, .icon-arrow_forward {
    font-size: 1em;
    vertical-align: -.1em;
}



.icon-uniE010:before {
  content: "\e010";
}
.icon-uniE011:before {
  content: "\e011";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-assignment:before {
  content: "\e85d";
}
.icon-beenhere:before {
  content: "\e52d";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-close1:before {
  content: "\e5cd";
}
.icon-code1:before {
  content: "\e86f";
}
.icon-comment:before {
  content: "\e0b9";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-desktop_mac:before {
  content: "\e30b";
}
.icon-face:before {
  content: "\e87c";
}
.icon-home:before {
  content: "\e88a";
}
.icon-lock:before {
  content: "\e897";
}
.icon-import_contacts:before {
  content: "\e0e0";
}
.icon-local_library:before {
  content: "\e54b";
}
.icon-lock_open:before {
  content: "\e898";
}
.icon-lock_outline:before {
  content: "\e899";
}
.icon-personal_video:before {
  content: "\e63b";
}
.icon-replay:before {
  content: "\e042";
}
.icon-rotate_left:before {
  content: "\e419";
}
.icon-school:before {
  content: "\e80c";
}
.icon-sentiment_satisfied:before {
  content: "\e813";
}
.icon-settings_ethernet:before {
  content: "\e8be";
}
.icon-view_list:before {
  content: "\e8ef";
}
.icon-th-list:before {
  content: "\f00b";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
.icon-repeat:before {
  content: "\f01e";
}
.icon-rotate-right:before {
  content: "\f01e";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-rotate-left:before {
  content: "\f0e2";
}
.icon-undo:before {
  content: "\f0e2";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-smile-o:before {
  content: "\f118";
}
.icon-code:before {
  content: "\f121";
}
.icon-youtube-square:before {
  content: "\f166";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-youtube-play:before {
  content: "\f16a";
}
.icon-instagram:before {
  content: "\f16d";
}
.icon-tumblr-square:before {
  content: "\f174";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-hand-grab-o:before {
  content: "\f255";
}
.icon-hand-rock-o:before {
  content: "\f255";
}
.icon-hand-pointer-o:before {
  content: "\f25a";
}
.icon-television:before {
  content: "\f26c";
}
.icon-tv:before {
  content: "\f26c";
}
.icon-commenting:before {
  content: "\f27a";
}
.icon-user-circle:before {
  content: "\f2bd";
}
