@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2pyp0t');
  src:  url('fonts/icomoon.eot?2pyp0t#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2pyp0t') format('truetype'),
    url('fonts/icomoon.woff?2pyp0t') format('woff'),
    url('fonts/icomoon.svg?2pyp0t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-thumb_up_alt:before {
  content: "\e900";
}
.icon-images:before {
  content: "\e90e";
}
.icon-enlarge:before {
  content: "\e989";
}
