.header-intro {
	padding: 20px 0 40px 0 ;
}

.header-intro h1 {
padding-top: 0px;	
}

.page-header[filter-color="orange"] {
    background: rgba(249, 99, 50, 0.92);
    background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
    background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), rgba(249, 99, 50, 0.92));
}
.build-join {
	    background: transparent;
    tXop: -160px;
	    padding-bottom: 0;
}

.input-group-addon {
	    padding: 7px 0 8px 19px!important;
}

.navbar {
	margin-bottom: 0px;
}

.index-page .page-header {
    height: auto;
}

.section-signup {
	padding-top: 0;
}

.flora-container {
    margin: 0 auto;
    background: inherit;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.card-signup .footer {
    margin-top: 0;
}

.arrows-1_share-66 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.floraforms .flo-input, .floraforms .flo-select, .floraforms .flo-textarea, .floraforms .flo-select > select, .floraforms .flo-selectmulti select {
    background: inherit;
}

/* Default
 * No @media query for XS is necessary
 */


/* Small. Above 34em (544px) */
@media screen and (min-width: 34em) {
	
.section-signup {
	background-image: url('../img/homepage_footer.jpg'); background-size: cover; background-position: top center; min-height: 700px;
	padding-top: 20vh;
}
   .col-sm-6:nth-child(2){  padding-top: 40px; padding-bottom: 40px; }

	.floraforms .frm-row .colm.colm-m6 {
		width: 50%;
		float: left;
	}

	.colm-m6 {
	padding-right:10px!important;
	}
	
	.colm-m6:nth-of-type(odd){
		padding-left:10px!important;
		padding-right:0px!important;		
	}
	
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {

}

/* Large. Above 62em (992px) */
@media screen and (min-width: 62em) {

.header-intro {
	padding: 100px 0 200px 0 ;
}

.header-intro h1 {
padding-top: 25px;	
}
.build-join {

    top: -160px;
}
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {


}


