/* CSS ribbon */
.ribbon
{
  font-size:16px;
  width:fit-content;
  position:relative;
  background:#ba89b6;
  color:#fff;
  text-align:center;
  padding:10px;
  margin:0 auto;
}

.ribbon:before,.ribbon:after
{
  content:"";
  position:absolute;
  display:block;
  bottom:-16px;
  border:22px solid #986794;
  z-index:-1;
}

.ribbon:before
{
  left:-24px;
  border-left-width:18px;
  border-left-color:transparent;
}

.ribbon:after
{
  right:-24px;
  border-right-width:18px;
  border-right-color:transparent;
}

.ribbon ul:before,.ribbon ul:after
{
  content:"";
  position:absolute;
  display:block;
  border-style:solid;
  border-color:#804f7c transparent transparent;
  bottom:-16px;
}

.ribbon ul:before
{
  left:0;
  border-width:16px 0 0 1em;
}

.ribbon ul:after
{
  right:0;
  border-width:16px 1em 0 0;
}

/* CSS cupcake */
.cupcake
{
  width:80px;
  margin:0 auto;
  position:relative;
  font-size:0;
}

.cake
{
  width:78px;
  height:12px;
  background-color:#322421;
  border-top-left-radius:16px 26px;
  border-top-right-radius:16px 26px;
}

.cup
{
  width:60px;
  height:0;
  border:solid;
  border-width:40px 10px 0;
  border-color:#A4D2DE transparent transparent;
  border-bottom-left-radius:16px 34px;
  border-bottom-right-radius:16px 40px;
  position:relative;
  display:inline-block;
  z-index:0;
}

.cupspan span
{
  display:inline-block;
/* background-color: #A4D2DE; */
  position:relative;
  top:-50px;
/* display: block; */
  border-style:solid;
/* border-radius: 50%; */
/* border-color: #A4D2DE transparent transparent transparent; */
/* border-width: 16px 0 0 0; */
  margin:0;
  width:0;
  border:5px solid transparent;
  border-left-width:5px;
  border-right-width:5px;
  border-bottom-color:#A4D2DE;
}

.cupspan span:after
{
  content:".";
  left:-10px;
  top:6px;
  position:absolute;
  width:1px;
  height:40px;
  background-color:rgba(255,255,255,0.6);
  transform:rotate(13deg);
}

.cupspan span:first-child:after
{
  background-color:transparent;
}

.frosting
{
  width:78px;
  margin:auto;
}

.frosting span
{
  display:block;
  position:relative;
  height:8px;
  margin:auto;
  background-color:#ff7fbf;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  border-top:1px solid pink;
}

.frosting span.bottom
{
  width:58px;
}

.frosting span.top
{
  width:32px;
}

.frosting span.cherry
{
  box-sizing:border-box;
  top:2px;
  border-top:0;
  height:18px;
  width:18px;
  border-radius:50%;
  background-color:white;
  box-shadow:-3px -3px 0 6px #C40000 inset;
}