@font-face {
	font-family:'iconic';
	src: url("../fonts/iconic.woff")
}

html, body {
	padding-top: 21px;
    height: 100%;
	min-width:1080px;
    width: auto !important;
    width: 1080px;
    font-family: 'Rajdhani', sans-serif;

	
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #ddd;
}

p, li, a, label, em {
font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    font-size: 14px;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
    min-height: 42px;
    margin-bottom: 0;
}

.nav-tabs>.nav-item>.nav-link {
    padding: 6px 15px;
}

#preview {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    height: 100%;
    background: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    z-index: 1001;
    left: 0px;
    width: 100%;
}

.CodeMirror  {
    height: 100%;
    background: rgb(255, 255, 255);
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    width: 100%;
	font-size: 12px;
}	

.cm-s-base16-dark .CodeMirror-gutters { background: #151515; border-right: 0px; }

.cm-s-base16-dark .CodeMirror-gutters {
    background: #1f1f1f;
    border-right: 0px;
}
	
.navbar .navbar-brand {
	padding: 0;
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
}

.left-col {
	min-width: 600px;
	max-width: 600px;
}

.right-col {
	max-width: calc(100% - 600px);
	background-color: #eee;
}

.skill {
    background: #444;
    background-image: -webkit-linear-gradient(top, #4c4c4c 49%, #444 51%);
    background-image: -moz-linear-gradient(top, #4c4c4c 49%, #444 51%);
    background-image: -ms-linear-gradient(top, #4c4c4c 49%, #444 51%);
    border-radius: 25px;
    padding: 7px 16px;
    font-family: 'menlo', monospace;
    font-size: 14px;
    margin-right: 3px;
    cursor: help;
    margin-bottom: 10px;
    display: inline-block;
    box-shadow: 0px 1px 2px #111111;

}

.lesson-skills {
	background-color: #000; 
	color: #eee;
	box-shadow: none;
	height: 376px; 
  
}

.lesson .card{
	background-color: inherit;
	margin-bottom: 0;
}

.lesson-skills .tab-pane {
		height: 329px;
}
.lesson-skills .card>ul{
	background-color: #333;
	padding: 6px 0.7rem;
	    display: flex;
}	

.lesson-skills .card .card-body {
    min-height: min-content;
	padding: 0;
}
#forum_tab {
	margin: 50px 0px 0px;
	text-align: center;
}
#forum_tab h2 {
	font-size: 250%;
}
#skills_tab {
	padding: 20px;
	text-align: left
}

#lesson_tab img{
	width: 100%;
}

#resources_tab, #credits_tab {
	margin: 50px 100px;
	text-align: center;
	color: #888;
}

.remove-all-margin{
margin:0 ! important;
}

.pagination {
	position: relative;
    top: -29px;
    wiXdth: 95%;
	margin: auto;
    background: #000;
    height: 37px;
}
}

.page-link {
    padding: 2px .75rem;
    margin: 0px 10px;
}

.progress {
    height: 7px;
    border-radius: 0;
	width: 100%;
    background-color: #2d2d2d;
}

.controls {
		width: 100%;
}

.disabled { display: none;}

#tab-slides {display:none;}

#lesson_tab .tab-content .btn {
	position: absolute;
	border-color: #fff;
	left: 50%;
	transform: translateX(-50%);
	text-transform: uppercase;
font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
	font-weight: bold;
    color: #FFDE01;
}

.progress-bar {
    height: auto;
    line-height: 23px;
    background-color: #0bbac1 !important;
}	

.code-editor {
	background-color: #333;
	height: calc(100% - 376px);
}

.skill-details {
	 text-align: left;	
}	
.skill-details p {
    margin-top: 0;
    font-size: 14px;
    line-height: 18px;
}

.skill-details h2 {
    font-size: 30px;
}

.skill-details h2, .skill-details h3 {
    margin: 0 0 8px 0;
    color: #000;
}

.skill-details h3 {
    font-size: 17px;
}
.skills .skills-example {display:none;}

.CodeTooltip code {
    padding: 0;
	color: #333;
	
    background-color: #efefef;

}

.tooltip.show {
    opacity: .95;
}

.CodeTooltip .tag {
    color: #F2777A;
}

.CodeTooltip .string .delimiter {
    color: rgb(153, 204, 153);
}

.CodeTooltip .string .content {
    color: rgb(153, 204, 153);
}

.CodeTooltip .attribute-name {
    color: rgb(242, 119, 122);
}

.CodeTooltip .code pre {
    overflow-wrap: break-word;
    font-family: 'menlo', monospace;
}

.tooltip-inner {
    min-width: 100px;
    max-width: 400px; 
	padding: 12px;
}


.checkpoint {
    posiXtion: absolute;
    z-index: 80;
	    height: 300px;
    bottom: 3px;
    top: 0;
    left: 0;
    right: 0;
    background: #FFDE01;
    overflow: hidden;
    text-align: center;
    padding-bottom: 25px;
    -webkit-user-select: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    transform: translateZ(0);
}


#resources_tab {
    padding: 20px;
    margin: 0;
}

#resources_tab pre {
	margin-bottom:10px; color:#ccc;
	border: 0;
	margin-left: 10px;
}

.skill.has-skill-false {
    color: #888;
    box-shadow: none;
    padding-left: 30px;
    background: #393939 url(../img/small-lock.png) no-repeat 12px 9px;
}

.checkpoint h2 {
    color: #000;
    margin: 26px;
    font-size: 40px;
}

.checkpoint .actions {
    padding: 0;
    margin: 0 auto 15px auto;
    width: 90%;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    list-style-type: none;
}

.checkpoint .actions li {
    color: #000;
    font-size: 15px;
    text-align: left;
    border-top: 1px solid rgba(0,0,0,0.5);
    padding: 10px 34px;
    position: relative;
}

.checkpoint .actions li.correct .check-icon {
    background: #00A921;
    color: #fff;
    border-radius: 100%;
    padding: 4px;
    left: 3px;
    bottom: 50%;
    margin-bottom: -14px;
    transform: scale(1);
    opacity: 1;
    -webkit-animation: bounce 0.8s;
    -moz-animation: bounce 0.8s;
    animation: bounce 0.8s;
	line-height: 20px;
}


.checkpoint .actions li .check-icon {
    font-family: 'iconic';
    margin-right: 5px;
    font-size: 18px;
    position: absolute;
    left: 6px;
    bottom: 50%;
    margin-bottom: -10px;
}

.checkpoint .check.passed {
    box-shadow: none;
    color: white;
    background-color: #FF2500;
    border-bottom: 3px solid #dd0300;
}

.checkpoint .check {
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    font-family: 'pf-din';
    text-transform: uppercase;
    margin: 0 10px;
    font-size: 20px;
    color: #FFDE01;
    background: #DDBC00;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.2);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

@keyframes bounce{
	0% {
		transform: scale(0.7);
		opacity: 1;
	}

	50% {
		transform: scale(3);
		opacity: 0.5;
	}

	60% {
		transform: scale(0.7);
		opacity: 1;
	}

	100% {
		transform: scale(1);
	}
}

#container {
margin: 100px auto;
width: 688px;
}
	#write {
		margin: 0 0 5px;
		padding: 5px;
		width: 671px;
		height: 200px;
		font: 1em/1.5 Verdana, Sans-Serif;
		background: #fff;
		border: 1px solid #f9f9f9;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	#keyboard {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	#keyboard li {
		float: left;
		margin: 0 5px 5px 0;
		width: 24px;
		height: 24px;
		line-height: 24px;
		text-align: center;
		background: #fff;
		border: 1px solid #f9f9f9;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
	.capslock, .tab, .left-shift {
		clear: left;
	}
	#keyboard .tab, #keyboard .delete {
		width: 70px;
	}
	#keyboard .capslock {
		width: 80px;
	}
	#keyboard .return {
		width: 77px;
	}
	#keyboard .left-shift {
		width: 95px;
	}
	#keyboard .right-shift {
		width: 109px;
	}
	.lastitem {
		margin-right: 0;
	}
	.uppercase {
		text-transform: uppercase;
	}
	#keyboard .space {
		clear: left;
		width: 681px;
	}
	.on {
		display: none;
	}
	#keyboard li:hover {
		position: relative;
		top: 1px;
		left: 1px;
		border-color: #e5e5e5;
		cursor: pointer;
	}
		

/* position keyboard at bottom of the screen */
.ui-keyboard {
  border-radius: 0;
  left: 0;
  top: auto;
  bottom: 0;
  position: fixed;
  width: 100%;
}

@media (max-width: 320px) {
    .tooltip-inner {
         min-width: initial;
         width: 320px;
    }
}

.congrats-content{
    padding-top: 10%;
}

