<div class="container"> 
    <h2 class="lesson-title font-weight-normal  mb-5">KEYBOARD</h2>
    <p class="lesson-instructions mt-5">So we added them to your keyboard</p>
    <img style="max-width: 300px;" class="mb-5" src="../../../img/lessons/new-keyboard.png" alt="">
    <p class="lesson-instructions mt-5">to make it easier for you.</p>
    <div class="heart-blog">
        <div class="m-2 img-area">
            <img src="../../../img/emoji/heart.png" alt="">
        </div>
        <div class="m-2 img-area">
            <img src="../../../img/emoji/heart.png" alt="">
        </div>
        <div class="m-2 img-area">
            <img src="../../../img/emoji/heart.png" alt="">
        </div>
    </div> 
</div>