<div class='container'><h2 class='lesson-title font-weight-normal mt-5'>You are learning</h2><h2 class='lesson-title yellow font-weight-normal mb-5'>HTML</h2><div><img class="w-15" src="../../../img/emoji/thinking-face_1f914.png" alt=""></div></div>
