<div class='container'><h2 class='lesson-title yellow font-weight-normal mb-5'>GOOD JOB!</h2><p class='lesson-instructions mb-5'>Now we’ll add some styling with <span class='yellow'>CSS</span>.</p><p class='lesson-instructions mt-5'>Are you ready?</p></div>