<div class='container'>
    <h2>Challenge</h2>
    <div style="margin-top:7rem">
        <ol style="list-style: none">
            <li class='task-1'> 
                Type &lt;h1&gt; in the Code Editor: 
            </li>
        </ol>
    </div>
    <div class="h1-content-area-2 mt-5">
        <h1></h1>
    </div>
    <div class='button-locked mt-4'>
            <a class='btn btn-primary action check swiper-editor' stylel=''>Let's get Coding <i class='icon-arrow_forward'></i></a>
            <br> 
            <a class='swiper-next skip' style=''>Skip this step</a>
        </div>
        <div class='button-unlocked mt-4'>
            <a class='btn btn-primary success check swiper-next' style=''>I did it <i class='icon-sentiment_satisfied'></i></a>
            <br>
        </div>
</div>
<div class='container'>
  
</div> 
<div class='container'>
    <p class='lesson-tip tip-blog-new'><span>Tip:</span> Swipe left to start.</p>
</div>