<div class="container"> 
    <h3 class="lesson-title font-weight-normal  mb-5">Ready to start the famous…</h3>
    <img style="width: 150px;" src="../../../img/lessons/timer_circle.png">
    <h3 class="lesson-title font-weight-normal mt-3">5-Minute <span class="nobr">Website ?<span></h3>
    <div class="bounce-arrow">
        <img src="../../../mobile/img/down-scroll.png" alt="">
    </div> 
</div>