<div class="container">  <h3 class="lesson-title font-weight-normal mb-5">It works like this:</h3> <img data-src="../img/lessons/P001-L00-M-V001-HTML-element.png" class="swiper-lazy mb-4" style="max-width: 70vw;"><div class="swiper-lazy-preloader"></div> </div>