<div class='container'>
    <h2>Challenge</h2>
    <div style="margin-top:7rem">
            <ol style="list-style: none">
                <li class='task-1'> 
                    Type your name between tags.
                </li>
            </ol>
        </div>
        <div class="h1-content-area-3">
            <p id='attr-type-value' class='m-4' style="color:#f1f1f1;font-size:18px">
                <span class='cm-tag'>&lt;h1&gt;</span>your name<span class='cm-tag'>&lt;/h1&gt;</span>
            </p>
        </div>
</div>  
<div class="container">
    
    <div class='button-locked'> 
        <a class='btn btn-primary action check swiper-editor' style=''>Let's get Coding <i class='icon-arrow_forward'></i></a>
        <br> 
        <a class='swiper-next skip' style=''>Skip this step</a> 
    </div> 
    <div class='button-unlocked'> 
        <a class='btn btn-primary success check swiper-next' style=''>I did it <i class='icon-sentiment_satisfied'></i></a>
        <br>    
    </div>
</div>   
<div class='container'>
    <p class='lesson-tip'><span>Tip:</span> Swipe left to start.</p>
 </div>