<div class="container"> 
<h2 class="lesson-title font-weight-normal  mb-5">First of all,...</h2>
<p class="lesson-instructions mb-5">coding uses some funny characters</p>
<p class="lesson-instructions mb-5">Example:</p>
<div class="h1-content-area">
    <h1></h1>
</div>
<div class="bounce-arrow">
    <img src="../../../mobile/img/down-scroll.png" alt="">
</div> 
</div>