<div class='container'> 
    <h3 class='lesson-title font-weight-normal mb-5'>This will add a beautiful background color to your website.</h3>
    <h3 class='lesson-title font-weight-normal mt-5 mb-5'>It’s worth it.<br>I promise.</h3>
    <p class='lesson-instructions mb-4'>
        <img class='w-20' src='../../../img/emoji/ok-hand-sign_1f44c.png'>
        <img class='w-20' src='../../../img/emoji/grinning-face-with-smiling-eyes_1f601.png'>
        <img class='w-20' src='../../../img/emoji/ok-hand-sign_1f44c.png'>
    </p>
</div>