#project_page {
	background-color: #fff;
}

#project_page  p, #project_page li, #project_page a {
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    text-decoration: none;
    font-size: 14px;
}


#project_page .swiper-slide, .lesson-details {
	cXolor: #fff;
	color: #000;
	bacXkground-color: #000;
	background-color: #fff;
}	

#project_page .lessons {
	list-style-type: none;
	padding: 0;
}

#project_page .lesson-details .menu {
	margin-top: 4px;
	margin-bottom: 26px;
}
#project_page .lesson-details h2 {
	margin-bottom: 26px;
}

#project_page h2 {
	font-size: 26px;
	colXor: #efefef;
	color: #000;
	font-family: 'Rajdhani', sans-serif;
}

#project_page h3 {
	font-size: 20px;
	colXor: #efefef;
	color: #000;
	font-family: 'Rajdhani', sans-serif;
	    margin-bottom: 1px;
}

#project_page .project-status {
   font-size: 12px;
    padding-top: 8px;
    color: #777;
}

.btn-primary:hover {
    border-color: #888;
}

.container {

    padding: 20px 26px 20px 20px;

}



#project_page .project_section:nth-child(even) .container  {
		background-color: #efefef;
} 

#project_page .project_section:last-child .project-status  {
		padding-bottom: 20px;
} 

  
#project_page .lessons li {

diXsplay: block;
    background: #1f1f1f;
    margin-bottom: 8px;
    padding: 8px;
    color: #ccc;
    font-size: 13px;
    border-radius: 5px;
    width: 100%;
    line-height: 2em;
    box-shadow: 1px 1px 4px black;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;


/* this is the style which does the work */

    /* dummy gradient with same from and to colours */
    /* you can use any gradient to jazz it up */
    background-image: linear-gradient(to right, #014c4c, #014c4c);
    /* because gradients are images, we can use background-size property */
    background-size: 1% 100%;         /* initial width of 1% and height 100%*/
    background-repeat: no-repeat;     /* this is important to restrict the gradient */
}


#project_page .lessons li > *{
  display: inline-block;
  vertical-align: middle;
  }

#project_page .lessons li .far {
	padding-right: 10px;
}

#preview_page, #profile_page, #project_page, #skills_page {
    overflow: auto;
    align-items: normal;
    overscroll-behavior: contain;
    background-color: #fff;
}
