@font-face {
	font-family: 'iconic';
	src: url("../fonts/iconic.woff")
}
html,
body {
	position: relative;
	height: 100%;
}
body {
	background-color: #fff;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
	overscroll-behavior-y: contain;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rajdhani', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}
p,
li,
a,
label,
em {
	font-family: 'Rajdhani', sans-serif;
	text-decoration: none;
	font-size: 14px;
}
.navbar {
	padding-top: 0;
	padding-bottom: 0;
	min-height: 42px;
	margin-bottom: 0;
	padding: 0;
}
.nav-tabs>.nav-item>.nav-link {
	padding: 0px 15px;
}
#preview {
	position: absolute;
	tXop: 32px;
	bottom: 0px;
	right: 0px;
	height: 100%;
	background: rgb(255, 255, 255);
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	z-index: 1001;
	left: 0px;
	width: 100%;
}
.CodeMirror {
	height: 100%;
	background: rgb(255, 255, 255);
	border-width: 0px;
	border-style: initial;
	border-color: initial;
	border-image: initial;
	width: 100%;
	font-size: 16px;
}
.cm-s-base16-dark .CodeMirror-gutters {
	background: #151515;
	border-right: 0px;
}
.cm-s-base16-dark .CodeMirror-gutters {
	background: #1f1f1f;
	border-right: 0px;
}
.navbar .navbar-brand {
	padding: 0;
}
.no-gutter {
	padding-left: 0;
	padding-right: 0;
}
.left-col {
	min-width: 600px;
	max-width: 600px;
}
.right-col {
	max-width: calc(100% - 600px);
	background-color: #eee;
}
.skill {
	background: #444;
	background-image: -webkit-linear-gradient(top, #4c4c4c 49%, #444 51%);
	background-image: -moz-linear-gradient(top, #4c4c4c 49%, #444 51%);
	background-image: -ms-linear-gradient(top, #4c4c4c 49%, #444 51%);
	border-radius: 25px;
	padding: 7px 16px;
	font-family: 'menlo', monospace;
	font-size: 14px;
	margin-right: 3px;
	cursor: help;
	margin-bottom: 10px;
	display: inline-block;
	box-shadow: 0px 1px 2px #111111;
}
.skill.has-skill-true {
	background: #59afbd;
}
.lesson-skills {
	background-color: #000;
	color: #eee;
	box-shadow: none;
	height: 10Q0%;
}
.lesson .card {
	background-color: inherit;
	margin-bottom: 0;
}
#lessXon_tab {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
	flex: 1;
}
.tab-content>.tab-pane {
	display: none!important;
}
.tab-content>.active {
	display: block!important;
}
.lesson-skills .tab-pane {
	Xheight: 10Q0%;
	margin: auto;
	Xbackground-color: cornflowerblue;
	Xmax-height: 100vh;
	Xborder: 1px solid black;
	padding-bottom: 40px;
}
.lesson-skills .card>ul {
	background-color: #333;
	padding: 6px 0.7rem;
	display: flex;
}
.lesson-skills .card .card-body {
	min-height: min-content;
	padding: 0;
}
#forum_tab {
	margin: 50px 0px 0px;
	text-align: center;
}
#forum_tab h2 {
	font-size: 250%;
}
#skills_tab {
	padding: 20px;
	text-align: left
}
#lesson_tab img {
	width: 100%;
}
#resources_tab,
#credits_tab {
	margin: 50px 100px;
	text-align: center;
	color: #888;
}
.remove-all-margin {
	margin: 0 ! important;
}
.pagination {
	height: 51px;
	background-color: #333;
	padding: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	margin: 0;
	border-radius: 0;
	paddiXng-bottom: 40px;
}
.pagination .col-4 {
	text-align: center!important;
	vertical-align: middle;
}
.pagination .col-4 .prev,
.pagination .col-4 .next,
.pagination a:visited,
.pagination a:link {
	color: black;
	font-size: 16px;
	padding: 10px;
	bordXer-radius: 10px;
	background-color: white;
	width: 100%;
}
div.lessonProgressText {
	color: #fff;
	line-height: 30px;
}
.page-link {
	padding: 2px .75rem;
	margin: 0px 10px;
}
.progress {
	height: 7px;
	border-radius: 0;
	width: 100%;
	background-color: #2d2d2d;
}
.controls {
	width: 100%;
}
.disabled {
	display: none;
}
#tab-slides {
	display: none;
}
.progress-bar {
	height: auto;
	line-height: 23px;
	background-color: #0bbac1 !important;
}
.code-editor {
	background-color: #333;
	height: calc(100% - 376px);
}
.skill-details {
	text-align: left;
}
.skill-details p {
	margin-top: 0;
	font-size: 14px;
	line-height: 18px;
	margin-bottom: 4px;
}
.skill-details h2 {
	font-size: 20px;
}
.skill-details h2,
.skill-details h3 {
	margin: 0 0 8px 0;
}
.skill-details h3 {
	font-size: 17px;
}
.skills .skills-example {
	display: none;
}
.CodeTooltip code {
	padding: 0;
	color: #333;
	background-color: #efefef;
}
.tooltip.show {
	opacity: .95;
}
.CodeTooltip .tag {
	color: #F2777A;
}
.CodeTooltip .string .delimiter {
	color: rgb(153, 204, 153);
}
.CodeTooltip .string .content {
	color: rgb(153, 204, 153);
}
.CodeTooltip .attribute-name {
	color: rgb(242, 119, 122);
}
.CodeTooltip .code pre {
	overflow-wrap: break-word;
	font-family: 'menlo', monospace;
}
.tooltip-inner {
	min-width: 100px;
	max-width: 400px;
	padding: 12px;
}
.cheXckpoint {
	z-index: 80;
	heXight: 300px;
	botXtom: 3px;
	toXp: 0;
	lefXt: 0;
	rigXht: 0;
	background: #FFDE01!important;
	overfXlow: hidden;
	textX-align: center;
	paddXing-bottom: 25px;
	-webXkit-user-select: none;
	-webXkit-transform: translateZ(0);
	-mozX-transform: translateZ(0);
	tranXsform: translateZ(0);
}
.cp_yellow {
	z-indXex: 80;
	background: #FFDE01!important;
}
#resources_tab {
	padding: 20px;
	margin: 0;
}
#resources_tab pre {
	margin-bottom: 10px;
	color: #ccc;
	border: 0;
	margin-left: 10px;
}
.skill.has-skill-false {
	color: #888;
	box-shadow: none;
	padding-left: 30px;
	background: #393939 url(../img/small-lock.png) no-repeat 12px 9px;
}
.checkpoint h2 {
	color: #000;
	margin: 18px;
	font-size: 40px;
}
.checkpoint .actions {
	padding: 0;
	margin: 0 auto 15px auto;
	width: 90%;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
	list-style-type: none;
}
.checkpoint .actions li {
	color: #000;
	font-size: 16px;
	text-align: left;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	padding: 10px 4px 10px 40px;
	position: relative;
}
.check-info h2 {
	display: inline-block;
	color: #000;
}
.check-info {
	position: absolute;
	bottom: calc(50% - 20px);
	right: 40px;
	z-index: 10300;
	background-color: #ffde01;
	border-radius: 5px;
	padding: 10px;
	width: auto;
	height: 40px;
}
.checkpoint .actions li.correct .check-icon,
.check-info.correct .check-icon {
	background: #00A921;
	color: #fff;
	border-radius: 100%;
	padding: 4px;
	left: 3px;
	bottom: 50%;
	margin-bottom: -14px;
	transform: scale(1);
	opacity: 1;
	-webkit-animation: bounce 0.8s;
	-moz-animation: bounce 0.8s;
	animation: bounce 0.8s;
	line-height: 20px;
}
.checkpoint .actions li .check-icon,
.check-info .check-icon {
	font-family: 'iconic';
	margin-right: 5px;
	font-size: 18px;
	position: absolute;
	left: 6px;
	bottom: 50%;
	margin-bottom: -10px;
}
.check-info .check-icon {
	line-height: unset;
	margin: auto;
	position: unset;
	left: 6px;
	background: #ff5336;
	color: #fff;
	border-radius: 100%;
	padding: 4px;
	left: 3px;
	bottom: 50%;
	margin-bottom: -14px;
	line-height: 20px;
}
.checkpoint .check.passed {
	box-shadow: none;
	color: white;
	background-color: #FF2500;
	border-bottom: 3px solid #dd0300;
}
.checkpoint .check {
	text-align: center;
	display: inline-block;
	padding: 5px 15px;
	font-family: 'pf-din';
	text-transform: uppercase;
	margin: 0 10px;
	font-size: 20px;
	color: #FFDE01;
	background: #DDBC00;
	box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
}
@keyframes bounce {
	0% {
		transform: scale(0.7);
		opacity: 1;
	}
	50% {
		transform: scale(3);
		opacity: 0.5;
	}
	60% {
		transform: scale(0.7);
		opacity: 1;
	}
	100% {
		transform: scale(1);
	}
}
#container {
	margin: 100px auto;
	width: 688px;
}
#write {
	margin: 0 0 5px;
	padding: 5px;
	width: 671px;
	height: 200px;
	font: 1em/1.5 Verdana, Sans-Serif;
	background: #fff;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
#keyboard {
	margin: 0;
	padding: 0;
	list-style: none;
}
#keyboard li {
	float: left;
	margin: 0 5px 5px 0;
	width: 24px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	background: #fff;
	border: 1px solid #f9f9f9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.capslock,
.tab,
.left-shift {
	clear: left;
}
#keyboard .tab,
#keyboard .delete {
	width: 70px;
}
#keyboard .capslock {
	width: 80px;
}
#keyboard .return {
	width: 77px;
}
#keyboard .left-shift {
	width: 95px;
}
#keyboard .right-shift {
	width: 109px;
}
.lastitem {
	margin-right: 0;
}
.uppercase {
	text-transform: uppercase;
}
#keyboard .space {
	clear: left;
	width: 681px;
}
.on {
	display: none;
}
#keyboard li:hover {
	position: relative;
	top: 1px;
	left: 1px;
	border-color: #e5e5e5;
	cursor: pointer;
}
.swipe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipe-wrap {
	overflow: hidden;
	position: relative;
}
.swipe-wrap > div {
	float: left;
	width: 100%;
	position: relative;
	oveXrflow: hidden;
}
.card {
	box-shadow: none;
}
.container {
	max-width: 100em;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	    padding: 20px 26px 20px 20px;
	heXight: 100%;
}
.swipe-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1010;
}
.swipe-wrap > div {
	display: block;
	width: 100%;
}
.card .card-body {
	min-height: 190px;
	background-color: #000;
}
.tab-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align items in Main Axis */
	align-items: stretch;
	/* align items in Cross Axis */
	align-content: stretch;
	/* Extra space in Cross Axis */
}
.flex-parent {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align items in Main Axis */
	align-items: stretch;
	/* align items in Cross Axis */
	align-content: stretch;
	/* Extra space in Cross Axis */
}
.flex-equal {
	flex: 1;
	/* same as flex: 1 1 auto; */
}
.h100 {
	height: 100%;
}
.flex-content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	/* align items in Main Axis */
	align-items: stretch;
	/* align items in Cross Axis */
	align-content: stretch;
	/* Extra space in Cross Axis */
}
.flex-overflow {
	/* Needed for when the area gets squished too far and there is content that can't be displayed */
	overflow: auto;
}
/* position keyboard at bottom of the screen */

.ui-keyboard {
	border-radius: 0;
	left: 0;
	top: auto;
	bottom: 0;
	position: fixed;
	width: 100%;
}
@media (max-width: 768px) {
	.nav-tabs .nav-item>.nav-link {
		margin-bottom: 0px;
	}
}
@media (max-width: 320px) {
	.tooltip-inner {
		min-width: initial;
		width: 320px;
	}
	#lesson-navbar li {
		min-width: 30px !important;
	}
}
.congrats-content {
	padding-top: 10%;
}
.swiXpe {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}
.swipXe-wrap {
	overflow: hidden;
	position: relative;
	margin-top: 50px;
}
.swiXpe-wrap > div {
	display: block;
	float: left;
	width: 100%;
	position: relative;
	oveXrflow: hidden;
}
#previewXs_page,
#editor_page {
	height: 100vh;
	overflow: auto;
	padding-bottom: 32px;
}
/* Style for our header texts
	* --------------------------------------- */

h1 {
	font-size: 60px;
	line-height: .85em;
	font-weight: bold;
	font-family: arial, helvetica;
	/* color: #fff; */
	margin: 0;
	padding: 0;
}
.intro p {
	color: #fff;
}
/* Centered texts in each section
	* --------------------------------------- */

.section {
	text-align: center;
	padXding: 40px;
	background-color: black;
}
/* Fixed header and footer.
	* --------------------------------------- */

#header,
#footer {
	position: fixed;
	height: 32px;
	display: block;
	width: 100%;
	background: #333;
	z-index: 1000;
	text-align: center;
	color: #f2f2f2;
	padding: 0;
}
#header {
	top: 0px;
	text-align: left;
}
#footer {
	bottom: 0px;
}
#keyboard {
	position: absolute;
	bottom: 0px;
	height: 50px;
	display: block;
	width: 100%;
	background: #333;
	z-index: 9;
	text-align: center;
	color: #f2f2f2;
	padding: 0px 0 0 0;
	min-height: 32px;
}
.get-help {
	position: absolute;
	height: auto;
	display: block;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #2855a7;
	z-index: 1000;
	padding: 20px;
	text-align: center;
	color: #fff;
}
.get-help h3,
.get-help a {
	color: #fff;
}
/* Bottom menu
	* --------------------------------------- */

#infoMenu {
	bottom: 80px;
}
#infoMenu li a {
	color: #fff;
	z-index: 999;
}
#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: #fff;
}
#fp-nav ul li,
.fp-slidesNav ul li {
	margin: 2;
}
#fp-nav.right {
	right: 3px;
}
#fp-nav *:before,
#fp-nav *:after {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#fp-nav ul:before {
	content: "";
	position: absolute;
	height: 100%;
	width: 5px;
	margin-left: 24px;
	border-left: 2px dotted red;
}
div#lessson-page img {
	max-width: 100%;
}
#lesson-navbar li {
	min-width: 38px;
	text-align: center;
}
#lesson-navbar li:hover {
	cursor: help;
}
#lesson-navbar span {
	display: none;
}
#lesson-navbar .active span {
	padding-right: 4px;
	display: inline;
}
#lesson-page .swiper-slide {
	background-color: #000;
}
#lesson-page .container {
	text-align: center;
}
#lesson-page img {
	max-width: 100%;
}
#lesson-page .btn-primary,
.btn-primary {
	border: 0;
	text-transform: uppercase;
	font-family: 'Rajdhani', sans-serif;
	font-size: 18px;
	font-weight: bold;
	box-shadow: none;
	color: white;
	border-bottom: 3px solid #fff;
	letter-spacing: .75px;
}
#lesson-page .btn-primary.light,
.btn-primary.light {
	border-bottom: 3px solid #333;
}

#lesson-page a.btn-primary.light,
a.btn-primary.light {
	color: #fff;
}


.modal-open .modal {
	bacXkground-color: rgba(0, 0, 0, 0.60);
}
.modal-backdrop.show {
	opacity: .9;
}
.btn-primary.action {
	background-color: #ff6a00!important;
}
.btn-primary.success {
	background-color: #f44!important;
}
.btn-primary.cancel {
	background-color: #888!important;
}
.speech-bubble .modal-content {
	position: relative;
	background: #ffffff;
	border-radius: .4em;
}
.speech-bubble .modal-content::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 40px;
	width: 0;
	height: 0;
	border: 33px solid transparent;
	border-top-color: #ffffff;
	border-bottom: 0;
	border-left: 0;
	margin-left: -16.5px;
	margin-bottom: -31px;
}

.speech-bubble .modal-content::before  {
	content: "";
	position: absolute;
	bottom: -180px;
	left: calc(50% - 75px);
	width: 150px;
	height: 150px;
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
}

.speech-bubble.robot .modal-content::before {
	background: url(../img/robot_avatar_happy.png);	
}
.speech-bubble.robot.happy .modal-content::before {
	background: url(../img/robot_avatar_happy.png);	
}
.speech-bubble.robot.surprised .modal-content::before {
	background: url(../img/robot_avatar_surprised.png);	
}
.speech-bubble.robot.proud .modal-content::before {
	background: url(../img/robot_avatar_proud.png);	
}
.speech-bubble.robot.sad .modal-content::before {
	background: url(../img/robot_avatar_sad.png);	
}
.speech-bubble.robot.inlove .modal-content::before {
	background: url(../img/robot_avatar_inlove.png);	
}
.speech-bubble.robot.scared .modal-content::before {
	background: url(../img/robot_avatar_scared.png);	
}
.speech-bubble.robot.unsure .modal-content::before {
	background: url(../img/robot_avatar_unsure.png);	
}
.speech-bubble.robot.unhappy .modal-content::before {
	background: url(../img/robot_avatar_unhappy.png);	
}

.speech-bubble.lego .modal-content::before {
	background: url(../images/lego_avatar_happy.png);	
}
.speech-bubble.lego.happy .modal-content::before {
	background: url(../images/lego_avatar_happy.png);	
}
.speech-bubble.lego.surprised .modal-content::before {
	background: url(../images/lego_avatar_surprised.png);	
}
.speech-bubble.lego.proud .modal-content::before {
	background: url(../images/lego_avatar_proud.png);	
}
.speech-bubble.lego.sad .modal-content::before {
	background: url(../images/lego_avatar_sad.png);	
}
.speech-bubble.lego.inlove .modal-content::before {
	background: url(../images/lego_avatar_inlove.png);	
}
.speech-bubble.lego.scared .modal-content::before {
	background: url(../images/lego_avatar_scared.png);	
}
.speech-bubble.lego.unsure .modal-content::before {
	background: url(../images/lego_avatar_unsure.png);	
}
.speech-bubble.lego.unhappy .modal-content::before {
	background: url(../images/lego_avatar_happy.png);	
}

.option_selected {
	display: inline-block;
    background-color: #3ec9cb;
	color: #fff;
    padding: 4px 10px;
}

.option_unselected {
	display: inline-block;
    background-color: #333;
	color: #888;
    padding: 4px 10px;
}

.modal .form-control, .modal .custom-select {
    margin-bottom: 10px;
	    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
	color: #333;
}

.modal .form-control.school  {
       display: inline-block;
    height: calc(2.25rem + 2px);
    line-height: 1.5;
    vertical-align: middle;
    position: relative;
    top: 0px;
}

	

.modal .sign-up {
	padding: 12px 0 0 0;
	margin: 0;
	cursor: pointer;;
}

.modal .a-link {
	display: inline-block;
	padding: 2px;
	color: #007bff;
}
.modal .a-link:hover {
	color: #ff6a04;
}
	
.modal.show .modal-dialog {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
	top: calc(50% - 120px);
	transform: translateY(-50%);
	margin: 2.0rem;
}
.modal.show .modal-dialog.top-align {
	top: 0px;
	transform: initial;
}


.modal-body {
	padding: 1.2rem;
	text-align: center;
}
#confirm_title {
	color: #000;
	font-size: 20px;
}
.success-animation {
	font-family: 'iconic';
	margin-right: 5px;
	font-size: 36px;
	background: #00A921;
	color: #fff;
	border-radius: 100%;
	padding: 4px;
	/* left: 3px; */
	/* bottom: 50%; */
	height: 60px;
	width: 60px;
	/* margin-bottom: -45px; */
	transform: scale(1);
	opacity: 1;
	-webkit-animation: bounce 1.0s;
	-moz-animation: bounce 1.0s;
	animation: bounce 1.0s;
	/* line-height: 36px; */
	position: absolute;
	text-align: center;
	z-index: 1010;
	top: calc(50% - 25px);
	left: calc(50% - 25px);
}
@keyframes bounce {
	0% {
		transform: scale(0.5);
		opacity: 1;
	}
	50% {
		transform: scale(4);
		opacity: 0.5;
	}
	60% {
		transform: scale(0.7);
		opacity: 1;
	}
	90% {
		transform: scale(1);
		opacity: 0.9;		
	}
	95% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;		
	}	
}
#lesson-page .skip {
	font-family: 'montserrat', sans-serif;
	font-size: 14px;
	color: #333;
	cursor: pointer;
}
.button-locked {
	display: block;
}
.button-unlocked {
	display: none;
}
.cp-unlocked .button-locked {
	display: none;
}
.cp-unlocked .button-unlocked {
	display: block;
}
#profile_page {
	text-align: center;
}
#preview_page,
#profile_page,
#skills_page,
#gallery_page {
	overflow: auto;
	align-items: normal;
	overscroll-behavior: contain;
	background-color: #fff;
}
#profile_page .menu {
	margin: auto;
	width: 94%;
	max-width: 400px;
	/* background-color: #efefef; */
	padding: 0px 20px 20px 20px;
}
#profile_page ul {
	text-align: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
#profile_page li {
	background-color: #efefef;
	padding: 16px;
	margin-bottom: 10px;
}
#profile_page li svg {
	vertical-align: middle;
	margin-right: 16px;
}
#profile_page h2,
#profile_page {
	color: #333;
}

.menu li  {
	    position: relative;
}
.menu li a.divLink {
		    color: inherit;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    /* Makes sure the link doesn't get underlined */
    z-index: 10;
    /* raises anchor tag above everything else in div */
    background-color: white;
    /*workaround to make clickable in IE */
    opacity: 0;
    /*workaround to make clickable in IE */
    filter: alpha(opacity=0);
    /*workaround to make clickable in IE */
}

.cp-red {
	width: 8px !important;
	height: 8px !important;
	margin: -4px 0px 0px -4px !important;
	background: #ff0202 !important;
}
.cp-green {
	width: 8px !important;
	height: 8px !important;
	margin: -4px 0px 0px -4px !important;
	background: #00b100 !important;
}
.embed-nav li {
	float: left;
}
.embed-nav {
	background: #3d3d3e;
	font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
	font-size: 13px;
	line-height: 1.4;
	position: relative;
	z-index: 1;
	position: relative;
	white-space: nowrap;
}
.embed-nav li.active a:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	bordeXr-top: 5px solid #ccc;
  border-top: 5px solid #f2ffff;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	margin-left: -8px;
}
.embed-nav a {
	text-decoration: none;
	color: #76daff;
	display: inline-block;
	position: relative;
	padding: 3px 8px;
	line-height: 26px;
	transition: unset;
	cursor: pointer;
}
.embed-nav {
	background: #3a3a3a;
}
.embed-nav a {
	color: #ffffff;
}
.embed-nav li.active {
	bacXkground: #3ec9cb;
  background: #f2ffff;
    color: #000000;
}
	color: #000000;
}
.embed-nav li.active a:after {
	borXder-top-color: #3ec9cb;
  border-top-color: #f2ffff;
}
.embed-nav .logo-wrap a {
	color: #ffffff;
}
.embed-nav .cp-embed-logo {
	fill: #ffffff !important;
}
.embed-nav ul {
	list-style: none;
	margin: 0;
}
.ui-keyboard-input-current {
	-moz-box-shadow: unset;
	-webkit-box-shadow: unset;
	box-shadow: unset;
}
.hide {
	display: none!important;
}
#logo {
	margin-bottom: 0;
	padding: 4px 0 0 4px!important;
    height: 28px;
}
.ui-keyboard {
	height: 32px;
	display: block;
	background: #efefef;
	z-index: 10000;
	text-align: center;
	color: #f2f2f2;
	padding: 0px 0 0 0;
	border-radius: 0;
	left: 0;
	bottom: 0;
	position: fixed;
	width: 100%;
}
.ui-keyboard-button {
	height: 28px;
	min-width: 28px;
	margin: .1em .4em;
	cursor: pointer;
	line-height: 20px;
	padding: 0;
}
.ui-keyboard-button span {
	padXding-bottom: 4px;
}
.ui-keyboard-div {
	position: fixed;
	height: 50px;
	display: block;
	width: 100%;
	background: #333;
	z-index: 10000;
	text-align: center;
	color: #f2f2f2;
	padding: 0px 0 0 0;
	top: 0px;
}
.ui-keyboard-button {
	font-size: 18px!important;
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-container-h .swiper-wrapper {
	heigXht: calc(100% - 50px);
	height: 100%;
}
.swiper-container-h  {
	padding-top: 32px;
	    marXgin-top: 32px;
}
.swiper-slide {
	texXt-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.swiper-container-v {
	background: #333;
}
.swiper-pagination-bullet {
	background: #888;
	opacity: .9;
}
.swiper-pagination-v .bullet-green {
	opacity: .7!important;
	background: #28a745;
}
.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 6px 0px 6px 2px;
}
.swiper-pagination-bullet-active {
	opacity: 1!important;
	background: #007aff!important;
	width: 12px;
	height: 12px;
	margin: 6px 0px 6px 0px!important;
}
.swiper-pagination {
	z-index: 10200;
}
uXl {
	margin: 1em auto;
	width: 400px;
}
li.swiper-pagination-switch {
	cursor: pointer;
	display: inline-block;
	width: 75px;
	border: 1px solid #CCC;
	background: #E0DEDE
}
li.swiper-pagination-switch.active {
	background-color: pink
}

.swiper-container-vertical>.swiper-pagination-bullets {
    right: 7px;
 
}
span.cm-bracket,
span.cm-tag, span.cm-keyword, span.cm-error,
span.cm-link,
span.cm-string,
span.cm-attribute, span.cm-property,
span.cm-variable, span.cm-variable-2,

#lesson-page .code-pre {
  font-family: "Consolas", monospace;
  color: #888;
  direction: ltr;
  	font-size: 18px;
	    line-height: 18px;
}
#lesson-page .code-pre-bg {
    padding: 10px;
    border-radius: 4px;
	background-color: #333;
	width: fit-content;
    margin: auto;
}


#lesson-page .container {
	color: #fff;
	padding: 20px 40px 20px 24px;
}

.w100{
	width: 100%;
}

.f80 {
	font-size: 80%!important;
}

.nobr	{ white-space:nowrap; }

#lesson-page .slide-chapter {
	color: #fff;
	font-faXmily: "Montserrat", "Helvetica Neue", Arial, sans-serif;
	font-size: 48px;
	text-transform: none;
}

#lesson-page .p40 {
	margin-bottom: 25px;
}

#lesson-page h2.lesson-title {
	font-size: 48px;
    line-height: 48px;
    color: #fff;
	margin-bottom: 5px;
}

#lesson-page  h3.lesson-title {
	font-size: 38px;
    line-height: 38px;
    color: #fff;
	margin-bottom: 15px;
		text-transform: none;
}

#lesson-page  p.lesson-subtitle {
	color: #777;
    font-size: 30px;
	margin-bottom: 40px;
}
#lesson-page  p.lesson-instructions {
	font-size: 20px;
    line-height: initial;
}

.jtk-overlay {z-index: 99;} 
.jtk-connector {z-index: 98;} 
.myLabel {background-color: #fff;} 
#container {width: 100%;position: relative;margin: 10px;} 
#w1 {
    posXition: absolute;
    left: 360px;
    top: 110px;
    width: 100px;
    height: 90px;
    border: 1px black solid;
    word-break: break-all;
} 
#w2 {
    posiXtion: absolute;
    left: 250px;
    top: 250px;
    width: 220px;
    height: 100px;
     border: 1px black solid;
    word-break: break-all;
} 

.jtk-connector { z-index:4; }

svg.red-line path {
  stroke:red;
  stroke-width:2;
}
svg.silver-line path {
  stroke:silver;
  stroke-width:1;
}

#lesson-page .slide-25-img {
    width: 90%;
    float: right;
    padding-top: 40px;
}
