/*-------------------------------------------------------------- This is your custom stylesheet. Add your own styles here to make theme updates easier. To override any styles from other stylesheets, simply copy them into here and edit away. Make sure to respect the media queries! Otherwise you may accidentally add desktop styles to the mobile layout. You're the boss, so have fun editing! -------------------------------------------------------------- >>> TABLE OF CONTENTS: ---------------------------------------------------------------- 1.0 - Global Styles 2.0 - Responsive media queries (mobile styles) 2.1 - MAXIMUM width of 720 pixels (phones landscape) 2.2 - MAXIMUM width of 350 pixels (phones portrait) 2.3 - MINIMUM width of 721 pixels (tablets+) 2.4 - MINIMUM width of 1040 pixels (desktops and laptops) --------------------------------------------------------------*/
/*-------------------------------------------------------------- 1.0 - Global Styles --------------------------------------------------------------*/
html {
    border-top: 5px solid red;
}

 body.is-desktop {
     background-color: #fff !important;
}
 body {
     color: #2c2c2c;
     font-size: 14px;
     font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
     -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}
 .black:not(:hover) {
    color:#000!important;
}
 .no-title article {
     padding-top: 0px !important;
}
 .header-inner .left-col .header-navigation ul li a {
     font-weight: 500;
     font-size: 18px;
     font-family: rajdhani;
}
 .site-header .right-col {
     background-color: #0273b3!important;
}
 #search-open, .header-account-login .pop .logout a {
     color: #fff;
     background-color: #f68821;
}
 .sidebar-form > div > .wpb_wrapper {
     background-color: #f7f7f7;
}
 .sidebar-form .wpb_wrapper .wpb_wrapper {
     padding: 30px;
}
 .sidebar-form input, .sidebar-form .buddyboss-select-inner {
     background-color: #fff;
}
 .sidebar-form input {
     max-width: 100%;
     width: 100%;
}
 .faq-icon-text .vc_icon_element {
     margin-bottom: 0px;
}
 .right-col .register, .right-col .login{
     display: none;
}
 .content-bullet {
     float: left;
     line-height: 1.25em;
}
 .content-card-row, .content-card > div > .wpb_wrapper {
     padding: 25px;
     backgrouXnd-color: #0273b314;
     background-color: #fff;
     background-clip: border-box;
     margin: 20px;
     flex-grow: 1;
     margin-bottom: 20px;
     box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
 .cta-button button{
     padding: 15px 30px!important;
     font-size: 1.2em!important;
}
 .wpm-language-switcher li {
     list-style-type: none!important;
     margin-right: 0;
     padding-right: 0;
}
 .wpm-language-switcher {
     padding-left: 0!important;
}
 .footer ul {
     margin-bottom: 0;
     padding-left: 18px;
}
 .footer ul li {
     display: list-item;
    /* padding-left: 10px;
     */
     list-style: disc;
     font-size: 12px;
}
 .footer h4 {
     margin-top: 0px;
     margin-bottom: 0px;
     font-family: Rajdhani;
     font-size: 16px;
     line-height: initial;
     text-transform: uppercase;
     color: #fff;
     font-weight: 400;
}
 .footer ul li a {
     color: #fff;
     padding: inherit;
     font-size: inherit;
     text-transform: inherit;
     text-decoration: inherit;
}
 .footer ul li {
     display: list-item;
    /* padding-left: 10px;
     */
     list-style: disc;
     font-size: 14px;
     color: #666;
}
 .footer-menu {
     margin-right: auto;
}
 .hide {
    display:none!important;
}
 .powered-by {
     padding: 10px 20px;
     background-color: #444;
     margin-top: 10px;
     align-self: flex-start;
}
 .footer .copyright {
     marXgin-top: 20px;
     padding: 10px 0;
     text-align: center;
     float: none;
     display:inline-block;
}
 .footer {
     padding: 24px 0 0;
     background-color: #2c2c2c;
     color: #fff;
     background-image: url(/img/bg-pattern-zz.png);
}
 .footer a, .footer p, .footer div {
     color: #fff;
}
 .footer .c4c-logo{
     display: inline-block;
     padding: 10px 0 ;
     vertical-align: top;
     float: none;
}
 body.single-post img.aligncenter.size-full {
     margin: auto;
     max-width: 100%;
     min-width: initial;
}
 .page-cover > .table-cell {
     height: auto!important;
}
 .page-cover .page-header {
     background-image: url(/img/bg-pattern-circ10.png);
     background-size: unset;
}
 .blog header .main-title {
     border-bottom: 0;
     padding-bottom:0;
     -webkit-box-shadow: none;
     -moz-box-shadow:none;
     box-shadow: none;
}
 .post-template-default header .main-title, .blog header .main-title {
     font-weight: 100!important;
     font-size: 54px!important;
}
 .page-cover, .bb-cover-photo {
     background-color: #4292bf !important;
}
 .header-section {
     background-image: url(/wp-content/uploads/2018/06/homepage_header3.jpg) !important;
     backgXround-image: url(https://codejika.co.za/img/homepage_header.jpg) !important;
     background-position: center !important;
     background-repeat: no-repeat !important;
     background-size: cover !important;
     min-height: 320px;
}
 .header-section h1 {
     text-align: center;
     color: #fff;
     font-size: 4em !important;
     line-height: 1em;
}
 .header-section .wpb_content_element {
     margin-bottom: 0px;
}
 .header-section .subtitle p {
     text-align: center;
     color: #fff;
     padding-top: 24px;
     max-width: 75%;
     text-transform: uppercase;
     margin: auto;
     letter-spacing: 1.5px;
}
 .wpb_singleimage_heading {
     font-size: 26px!important;
}
 .button-aqua {
     background-color: #3fc7cd!important;
     color: white!important;
}
 .button-aqua:hover {
     background-color: #777!important;
}
 .table {
     margin-bottom: unset;
}
 .table .table {
     background-color: unset;
}
 .resources-table tr{
     border: 10px solid white;
     backgXround-color: #fff;
}
 .blue-bg .resources-table tr{
     border: 10px solid #deefef;
     backgXround-color: #fff;
}
 .resources-table tr:nth-child(odd){
     background-color: #efefef;
}
 .blue-bg .resources-table tr:nth-child(odd){
     background-color: #fff;
}
 .blue-bg .resources-table tr:nth-child(odd){
     background-color: #fff;
}
 .resources-table td{
     padding: 14px;
     vertical-align: middle;
     border-left: 1px solid #ddd;
     textX-align: center;
}
 .resources-table td:first-child{
     text-align: left;
}
 .resources-table h3 {
     margin: 0 0 4px 0;
}
 .resources-table .fa {
     background-color: white;
     padding: 10px;
     vertical-align: middle;
}
 .resources-table tr:nth-child(even) .fa{
     background-color: #f3f3f3;
}
 .resources-table td >.fa {
     color: #ddd;
}

.resources-table td > a:not(:last-child) {
    padding-right: 4px!important;
}

.resources-table td > a{
    margin-bottom: 5px!important;
    margin-top: 5px!important;
        display: inline-block;
}

 .blue-bg .resources-table .fa {
     background-color: #efefef;
}
 .resources-table .fa:before {
     font-size: 3em;
}
 .entry-content h1 {
     font-size: 42px;
     line-height: 1.1;
}
 .entry-content h2 {
     font-size: 32px;
     line-height: 32px;
     font-weight: 400;
}
 .entry-content h3 {
     font-size: 28px;
     line-height: 28px;
     font-weight: 400;
}
 .edit-link {
     display: none;
}
 span.vc_tta-title-text {
     font-family: rajdhani;
     font-size: 19px;
     font-weight: normal;
}
 .wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tabs-list {
     padding: 0;
     margin: -1px 0 0 28px!important;
}
 .wpb-js-composer li.vc_active {
     box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
     maXrgin: 5px 10px 0px 5px !important;
}
 .wpb-js-composer .vc_tta.vc_tta-spacing-1 .vc_tta-tab {
     marXgin: 1px 5px 0 5px !important;
}
 .wpb-js-composer .vc_tta.vc_general .vc_tta-panels, .wpb-js-composer .vc_tta.vc_general .vc_tta-panels-container {
     box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}
 a:hover {
     text-decoration: unset;
}
 .header-navigation ul li a span, input[type="radio"].styled:checked + span:before, input[type="radio"].styled:checked + label:before, input[type="radio"].styled:checked + strong:before {
     background-color: initial!important;
}
 .header-navigation ul li a span {
     border-radius: initial;
     position: initial;
     top: initial;
     right: initial;
     font-size: initial;
     padding: initial;
}

.boxed .site-header .right-col {
    display: none;
}

.header-inner .middle-col {
    padding-right: 0;
}

.pll-parent-menu-item  .sub-menu {
  left: auto;
  right: 0;
}

.lang-item-dev {
    display: none!important;
}

.number-icon .wpb_raw_html div {
    color: #fff;
    background: #f68821;
    height: 70px;
    width: 70px;
    font-size: 40px;
    line-height: 70px;
    border-radius: 53%;
    text-align: center;
    margin: 0 0 0 auto!important;
}

.number-icon .vc_col-sm-3  .vc_column-inner {
  padding-right: 0;
}

#custom-nav-wrap {
    right: 0;
        left: unset;
}

#profile-nav-wrap {
    display: none;
}

strong, b {
    font-family: inherit!important;
    font-weight: 700;
    font-style: normal;
    font-size: inherit!important;
}

.resources-table h4 {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 4px;
    margin-top: 0px;
     font-weight: 500;
}


/*-------------------------------------------------------------- 
2.0 - Responsive media queries (mobile styles) 
--------------------------------------------------------------*/

/*-------------------------------------------------------------- 
2.1 - MAXIMUM width of 720 pixels (phones landscape) 
--------------------------------------------------------------*/ @media screen and (max-width: 720px) {
    /* .just_an_example {
         color: black;
    }
     */
}

/* don't delete this closing bracket */

/*-------------------------------------------------------------- 
2.2 - MAXIMUM width of 350 pixels (phones portrait) 
--------------------------------------------------------------*/
 @media screen and (max-width: 350px) {
    /* .just_an_example {
         color: black;
    }
     */
}

/* don't delete this closing bracket */
/*-------------------------------------------------------------- 
2.2 - MAXIMUM width of 350 pixels (phones portrait) 
--------------------------------------------------------------*/
 @media screen and (max-width: 480px) {

}

/* don't delete this closing bracket */

/*-------------------------------------------------------------- 
2.3 - MINIMUM width of 721 pixels (tablets+) 
--------------------------------------------------------------*/

 @media screen and (min-width: 721px) {
.pll-parent-menu-item {
    background-color: #eaeaea;
    float: right;
}
}

/* don't delete this closing bracket */

/*-------------------------------------------------------------- 
2.4 - MINIMUM width of 1040 pixels (desktops and laptops) 
--------------------------------------------------------------*/
 @media screen and (min-width: 1040px) {
    /* .just_an_example {
         color: black;
    }
     */
}

/* don't delete this closing bracket */

@media screen and (max-width: 1025px) {
    .header-inner .middle-col {
        padding-right: 0;
    }
}

@media screen and (max-width: 913px) and (min-width: 900px) {
    .header-inner .middle-col {
        padding-right: 0;
    }
}


 